/* Artfully masterminded by ZURB  */

h1 span.desc {
	font: normal 18px/28px calibri, sans-serif;
	
float: right;
margin-right: 20px;
}


/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


